# GhostOps Project Requirements

# Core & API Libraries
requests
python-dotenv

# FastAPI Custom App
fastapi
uvicorn
prometheus_client

# OpenTelemetry Tracing
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-jaeger

# Flask WebSockets Dashboard
flask
flask-socketio
simple-websocket
